* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 92px;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: #1A0B2E;
}
.techwave-logo {
    font-size: 50px;
    color: #FFFFFF;
}
.wave {
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    color: transparent;
}
ul {
    width: 218px;
    display: flex;
    justify-content: space-around;
}
.navlist {
    list-style: none;
    font-size: 16px;
    font-weight: 500;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
.btn{
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    padding: 12px 16px;
    border-radius: 50px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}