* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 92px;
    align-items: center;
    border-bottom: 1px solid rgb(71, 70, 75);
    background-color: #1A0B2E;
}

.techwave-logo {
    font-size: 50px;
    color: #FFFFFF;
}

.wave {
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    color: transparent;
}

ul {
    width: 218px;
    display: flex;
    justify-content: space-around;
}

.navlist {
    list-style: none;
    font-size: 16px;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.btn {
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    padding: 12px 16px;
    border-radius: 50px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.techwave-bg {
    background-image: url(../assets/hero-bg.png);
    width: 100%;
    height: 760px;
    background-position: center;
    background-size: cover;
}

.techwave-logo-btn {
    width: 550px;
    height: 560px;
    margin: 0 auto;
    text-align: center;
    padding-top: 101px;
}

.microphone-logo {
    width: 350px;
    height: 350px;
    border: 8px solid #2A186C;
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
}

.microphone {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.new {
    background-color: #00FF88;
    width: 75px;
    color: #FFFFFF;
    padding: 8px;
    align-items: center;
    font-size: 18px;
    border-radius: 50px;
    position: absolute;
    top: 0;
    right: 30px;
    animation-name: myAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes myAnimation {
  0%   {background-color: rgb(252, 0, 67);}
  25%  {background-color: rgb(7, 221, 0);}
  50%  {background-color: rgb(255, 66, 3);}
  100% {background-color: rgb(30, 0, 255);}
}

.tech-spotify-subscrive {
    margin-top: 40px;
}

.tech {
    font-size: 60px;
    color: #FFFFFF;
    font-weight: 800;
}

.tech-description {
    font-size: 16px;
    color: #FFFFFF;
    opacity: 80%;
    margin-bottom: 24px;
    margin-top: 8px;
}

.green {
    color: #00FF88;
    background: transparent;
    border: 1px solid #00FF88;
}

.about-container {
    background-color: #1A0B2E;
}

.about-podcast {
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    padding: 50px 200px 80px 200px;
}

.podcast-heading {
    font-size: 48px;
    font-weight: bold;
}

.podcast-description {
    font-size: 16px;
    line-height: 30px;
    opacity: 80%;
}

hr {
    width: 78%;
    margin: auto;
    opacity: 10%;
}

.techwave-all-data {
    padding: 80px 200px 120px 200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.statistics {
    text-align: center;
}

.number {
    color: #00FF88;
    font-size: 48px;
}

.stat-title {
    font-size: 16px;
    color: #FFFFFF;
    opacity: 80%;
}

.choose-techwave {
    width: 100%;
    background-color: #230E3D;
    padding: 120px 170px;
}

.why-choose-techwave,
.featured-heading {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.choose-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 225px) 275px;
    gap: 30px;
}

.card {
    background-color: #351165;
    padding: 40px;
    border-radius: 40px;
}

.audio {
    grid-row: span 2;
}

.friendly {
    grid-column: span 2;
}

.interviews {
    grid-column: span 2;
}

img.card-img.excep {
    margin-top: 75px;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 16px;
}

.card-description {
    font-size: 16px;
    color: #FFFFFF;
    opacity: 60%;
    line-height: 24px;
    margin-top: 16px;
}

.featured-container {
    padding: 120px 145px;
    background-color: #1A0B2E;
}

.all-featured-episode {
    width: 100%;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

.video-title-description {
    padding: 24px;
    background-color: #250D44;
}

.featured {
    padding: 8px;
    background: #250D44;
    border-radius: 10px;
}

.video-title {
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
}

.video-description {
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 60%;
    margin: 12px 0;
}

.video-duration {
    color: #00FF88;
    font-weight: normal;
}

.meet-container {
    background-color: #1A0B2E;
    padding-bottom: 120px;
}

.meet-heading {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
}

.alex-kumar {
    width: 1190px;
    height: 280px;
    display: flex;
    margin: auto;
    background: #250D44;
    border-radius: 20px;
    align-items: center;
    margin-top: 40px;
}

.alex-bio {
    margin-left: 24px;
}

.alex-name {
    color: #FFFFFF;
    font-size: 32px;
    font-weight: bold;
}

.alex-information {
    font-size: 16px;
    color: #FFFFFF;
    opacity: 60%;
    margin: 16px 0;
    line-height: 24px;
}

.all-social-media-icon {
    display: flex;
}

.icon {
    width: 40px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.14);
    border-radius: 50%;
    position: relative;
    margin-right: 8px;
}

img.social-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

img.alex-kumar-img {
    padding: 40px 0 40px 40px;
}

footer {
    background: url(../assets/footer-bg.png);
    /* width: 100%; */
    /* height: 412px; */
    background-size: cover;
    background-position: center;
}

.techwave-footer {
    padding: 120px;
}

.footer-logo {
    font-size: 60px;
    color: white;
    text-align: center;
}

.footer-wave {
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    color: transparent;
}

.footer-all-icon {
    width: 545px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 23px;
}

.footer-icon {
    display: flex;
    color: white;
    opacity: 60%;
    font-size: 16px;
    font-weight: 500;
}

img.footer-social-icon {
    margin-right: 5px;
}

.copyright {
    font-size: 16px;
    color: white;
    opacity: 60%;
    text-align: center;
    margin-top: 32px;
}
.hamburger{
    display: none;
}
h4.footer-title {
    font-weight: normal;
}

/* responsive design */
@media screen and (max-width: 576px) {
    nav {
        height: 72px;
    }
    .techwave-logo {
        font-size: 40px;
    }
    .navbar {
        visibility: hidden;
    }
    .hidden-btn {
        display: none;
    }
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .techwave-bg{
        background-image: url("../assets/hero-bg.png");
        width: 100%;
        height: 400px; 
        background-position: center;
        background-size: contain;
    }
    .microphone-logo{
        width: 170px;
        height: 170px;
    }
    img.microphone {
    width: 55px;
}
.new{
    right: -25px;
    font-size: 16px;
    width: 70px;
    padding: 5px;
}
.tech{
    font-size: 30px;
}
.techwave-logo-btn{
    padding-top: 65px;
}
.tech-spotify-subscrive{
    margin-top: 15px;
}
.tech-description{
    margin-bottom: 10px;
    margin-top: 5px;
}
.btn{
    padding: 9px 12px;
}
.podcast-heading{
    font-size: 32px;
    margin-bottom: 16px;
}
.about-podcast{
    padding: 40px 20px;
}
.podcast-description{
    line-height: 20px;
}
hr{
width: 92%;
}
.techwave-all-data {
    grid-template-columns: repeat(2, 1fr);
        padding: 40px 20px;
}
.number {
    font-size: 40px;
}
.stat-title{
    margin-top: 10px;
}
.statistics {
    margin-bottom: 10px;
}
h3.why-choose-techwave {
    font-size: 32px;
}
.choose-techwave{
    padding: 0;
}
h3.why-choose-techwave {
    padding-top: 40px;
}
.choose-grid{
            width: 500px;
        margin: 0 auto;
        grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5,1fr);
}
.card {
    grid-column: span 1;
    grid-row: span 1;
}
.card.audio {
            height: 287px;
}
img.card-img.excep {
    margin-top: 0px;
}
.card.friendly {
    height: 240px;
            margin-top: 9px;
}
.card.interviews {
    margin-top: -50px;
}
.card.friendly.another {
    margin-top: -30px;
}
.card.resources {
    height: 235px;
}
.card.interviews {
    height: 310px;
}
h3.featured-heading {
    font-size: 32px;
}
.all-featured-episode {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
}
.featured-container {
    padding: 100px 70px;
}
iframe {
    width: 405px;
}
.alex-kumar {
    display: block;
    width: 400px;
    height: 485px;
            text-align: center;
}
img.alex-kumar-img {
    width: 150px;
            padding: 0px;
                    padding-top: 24px;
}
h3.alex-name {
    font-size: 24px;
    margin-top: 10px;
}
.alex-bio {
    margin-left: 0px;
    padding: 0 24px 24px 24px;
}
.all-social-media-icon {
    margin-left: 82px;
}
.footer-logo {
    font-size: 50px;
}
.techwave-footer {
    padding: 12px;
}
.footer-all-icon {
    width: 255px;
    display: flex;
    flex-wrap: wrap;
}
.footer-all-icon {
    justify-content: center;
    gap: 10px;
}
}