* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 92px;
    align-items: center;
    border-bottom: 1px solid rgb(71, 70, 75);
    background-color: #1A0B2E;
}
.techwave-logo {
    font-size: 50px;
    color: #FFFFFF;
}
.wave {
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    color: transparent;
}
ul {
    width: 218px;
    display: flex;
    justify-content: space-around;
}
.navlist {
    list-style: none;
    font-size: 16px;
    font-weight: 500;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
.btn{
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    padding: 12px 16px;
    border-radius: 50px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
.techwave-bg{
    background-image: url(../assets/hero-bg.png);
    width: 100%;
    height: 760px;
    background-position: center;
    background-size: cover;
}
.techwave-logo-btn{
    width: 550px;
    height: 560px;
    margin: 0 auto;
    text-align: center;
    padding-top: 101px;
}
.microphone-logo{
    width: 350px;
    height: 350px;
    border: 8px solid #2A186C;
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    border-radius: 50%;
    margin: 0 auto;
    position: relative
}
.microphone{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.new{
    background-color: #00FF88;
    width: 75px;
    padding: 8px;
    align-items: center;
    font-size: 18px;
    border-radius: 50px;
    position: absolute;
    top: 0;
    right: 30px;
}
.tech-spotify-subscrive{
    margin-top: 40px;
}
.tech{
    font-size: 60px;
    color: #FFFFFF;
    font-weight: 800;
}
.tech-description{
    font-size: 16px;
    color: #FFFFFF;
    opacity: 80%;
    margin-bottom: 24px;
    margin-top: 8px;
}
.green{
    color: #00FF88;
    background: transparent;
    border: 1px solid #00FF88;
}
